
.logo { display: inline-block; position: relative; }
.logo img { position: absolute; }
.logo-a { z-index: 4; }
.logo-v { z-index: 3; }
.logo-i { z-index: 5; }
.logo-n { z-index: 2; }
.logo-e { z-index: 1; }

.logo-32, .logo-32 img { height: 32px; line-height: 32px; }
.logo-64, .logo-64 img { height: 64px; line-height: 64px; }
.logo-128, .logo-128 img { height: 128px; line-height: 128px; }

.logo-32 { width: 113px; }
.logo-32 .logo-a { left: 0px; }
.logo-32 .logo-v { left: 9px; }
.logo-32 .logo-i { left: 17px; }
.logo-32 .logo-n { left: 49px; }
.logo-32 .logo-e { left: 81px; }

.logo-64 { width: 211px; }
.logo-64 .logo-a { left: 0px; }
.logo-64 .logo-v { left: 15px; }
.logo-64 .logo-i { left: 27px; }
.logo-64 .logo-n { left: 87px; }
.logo-64 .logo-e { left: 147px; }

.logo-128 { width: 420px; }
.logo-128 .logo-a { left: 0px; }
.logo-128 .logo-v { left: 28px; }
.logo-128 .logo-i { left: 52px; }
.logo-128 .logo-n { left: 172px; }
.logo-128 .logo-e { left: 292px; }

body {
	background: url(images/bg/ticks_@2X.png) repeat;
	background-size: 200px 200px;
}

.hide {
	display: none;
}


/* ------------
   unit-test.js
   ------------ */

.ut2 {
	position: absolute;
	left: -9999px;
	margin-bottom: 20px;
}
.ut2-enabled {
	position: relative;
	left: 0;
}
.ut-toggle {
	display: block;
	height: 16px;
	margin: -5px -20px 0 -20px;
	border-radius: 0 99px 99px 0;
	background: url(images/toggle-minus.png) no-repeat left center;
	padding-right: 10px;
	font: 12px/16px monospace;
	text-align: right;
	color: #ddd !important;
	/* Transition */
	-webkit-transition: color .5s ease, background-color .5s ease, box-shadow .5s ease;
	-mo-transition: color .5s ease, background-color .5s ease, box-shadow .5s ease;
	transition: color .5s ease, background-color .5s ease, box-shadow .5s ease;
	-webkit-transition-delay: .25s;
	-mo-transition-delay: .25s;
	transition-delay: .25s;
}
.ut-toggle.ut-toggle-hide {
	margin-bottom: 1em;
	background-image: url(images/toggle-plus.png);
}
.ut-toggle:hover {
	background-color: #f3f3f3;
	box-shadow: 2px 2px 2px #ccc;
	color: #bbb !important;
}
.ut-toggle:hover:after {
	content: "hide"
}
.ut-toggle.ut-toggle-hide:hover:after {
	content: "view"
}
.ut-trigger {
	visibility: hidden; /* displayed in Javascript */
	padding-left: 20px;
	background: url(images/toggle-minus.png) no-repeat left center;
	font-size: .85em;
}
.ut-trigger.ut-trigger-close {
	background-image: url(images/toggle-plus.png);
}
.ut-area {
	margin: 0 -19px 1em -19px;
	padding: 0 16px;
	border: 2px solid #aaa;
	border-width: 0 2px;
	border-radius: 4px;
	font-size: .9em;
	font-family: Georgia, serif;
	color: #999;
}
